.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ecf0f1; /* Light text color */
  padding: 20px;
  min-height: 400px;
  width: 260px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Dark shadow */
  background-color: #435c75; /* Dark background color */
  border-radius: 20px;
}

h2 {
  color: #f89334; /* Red heading color for contrast */
}

.btn-div {
  display: flex;
  gap: 10px;
}

.feedback-btn {
  background-color: #2c3e50; /* Dark gray button color */
  color: #ecf0f1; /* Light text color */
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(204, 204, 204, 0.815),
    0 5px 15px rgba(0, 0, 0, 0.3); /* Light shadow */
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.feedback-btn:hover {
  background-color: #34495e; /* Darker gray on hover */
}

p {
  margin: 5px 0;
  border-bottom: 1px solid #bdc3c7; /* Border color */
  padding-bottom: 5px;
}
